.about {
  h2 {
    .logo {
      left: 0;
    }
  }

  .about-items {
    display: flex;
  }

  .about-snippets {
    margin: 0px auto 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    li {
      @include box-sizing(border-box);
      display: flex;
      flex-direction: column;
      opacity: 1;
      transition: 0.1s all ease-out 0s;
      width: 100%;
      margin: 0 0px 1.6rem 0;
      color: #fff;
      padding: 0 0px 0px;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;
      text-transform: uppercase;
      text-align: left;
      cursor: pointer;
      font-size: 2.4rem;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      img {
        width: 5.6rem;
        height: 5.6rem;
        margin-right: 0;
      }

      .about-link {
        pointer-events: none;
        color: $primaryBlue;
        display: flex;
        align-items: center;

        h3 {
          margin: 0;
        }
      }

      .about-description {
        padding-left: 5.6rem;
        transition: all 0.1s ease-out 0s;
        opacity: 0;
        height: 0;

        p {
          margin: 0;
          height: 28px;
        }

        &.show {
          opacity: 1;
        }
      }
    }
  }
}
