.fourth-panel {
  h2 {
    .logo {
      left: 0;
    }
  }
  ul {
    margin: 0px auto 0;
    padding: 0;
    display: inline-block;
    width: 100%;

    @include mobile {
      margin: 0px auto 0;
    }

    &:last-child {
      li {
        &:first-child {
          border-top-left-radius: 0px;
          border-bottom-left-radius: 10px;

          @include mobile {
            border-radius: 0;
          }
        }

        &:last-child {
          border-top-right-radius: 0px;
          border-bottom-right-radius: 10px;

          @include mobile {
            border-radius: 0;
          }
        }
      }
    }

    li {
      @include box-sizing(border-box);
      display: inline-block;
      opacity: 1;
      transition: 0.1s all ease-out 0s;
      width: 100%;
      margin: 0 0px 8px 0;
      color: #fff;
      padding: 0 0px 0px;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;
      @include hacks();
      text-transform: uppercase;
      text-align: left;
      cursor: pointer;

      img {
        width: 4.8rem;
        height: 4.8rem;
        margin-right: 1.6rem;
      }

      .about-link {
        pointer-events: none;
        color: $blueThin;
        display: flex;
        align-items: center;

        h3 {
          margin: 0;
        }
      }

      .about-description {
        padding-left: 6.4rem;
        transition: all 0.2s ease-out 0s;
        opacity: 0;
        height: 0;

        p {
          margin: 0;
        }

        &.show {
          opacity: 1;
        }
      }
    }
  }
}
