/*main*/
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font: 16px $font-light;
  background-color: $primaryColor;
  background-image: url(../../assets/images/digi-bg1.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  @include box-sizing(border-box);
  color: #fff;
  -webkit-backface-visibility: hidden;

  &:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../../assets/images/portfolio/minus.svg)
      url(../../assets/images/portfolio/plus.svg)
      url(../../assets/images/me-trans.png)
      url(../../assets/images/digi-bg1.png);
  }

  #portrait-only {
    display: none;
  }

  @include landscape {
    #portrait-only {
      display: inline-block;
      height: 100vh;
      width: 100%;
      text-align: center;
      position: relative;
      z-index: 100;
      background: #000;

      h2 {
        font-family: $font-light;
        font-weight: 100;
        font-size: 1.5rem;
        transform: translateY(-50%);
        top: 50%;
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: 44px;
        margin: 0;
      }
    }

    .container {
      transform: rotate(-90deg);
    }
  }
}

a {
  text-decoration: none;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  height: 100vh;
  overflow: hidden;

  @include mobile {
    overflow-x: hidden;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../../assets/fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../../assets/fonts/SourceSansPro-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro ExtraLight";
  src: url("../../assets/fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
}
