.projects {
  color: $primaryColor;
  background: url(../../assets/images/bg-pattern-light.png);

  h2 {
    color: $primaryColor;
  }

  .projects {
    margin: 0px auto;
    padding: 0;
    display: flex;
    width: 100%;

    > li {
      display: flex;
      flex-direction: column;
      width: 33.3333%;
      flex-basis: 33.3333%;
      background: #fff;
      overflow: hidden;
      border-radius: 4px;
      border: 8px solid $primaryBlue;
      color: #fff;
      font-size: 16px;
      padding: 0px;
      margin: 0 16px 0 0;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      @include box-sizing(border-box);

      &:nth-child(3) {
        margin-right: 0;
      }

      h3 {
        margin: 0;
        color: #fff;
        font-size: 24px;
      }

      p {
        margin: 0 0 0.25rem;
        font-size: 20px;
        color: $primaryBlue;
      }

      .base-item {
        background: $primaryColor url(../../assets/images/portfolio/golf-ball.png) no-repeat 50% 0%;
        background-size: contain;
        width: 100%;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
        padding: 2.4rem;
        box-sizing: border-box;

        .info-bar {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          z-index: 2;
          background: $primaryBlue;
          color: #fff;
          padding: 2.4rem 1.6rem 1.6rem;
          box-sizing: border-box;
        }
      }

      .slide-item {
        background: rgba(0, 0, 0, 0.75);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 1.6rem;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate3d(-100%, 0, 0);
        transition: all 0.25s ease-out;

        span {
          color: #fff;
        }
      }

      .slide-item[data-active="true"] {
        transform: translate3d(0, 0, 0);
      }

      .tech {
        margin-bottom: 1.6rem;
      }
      
    }

    //.icon {
    //   width: 32px;
    //   height: 32px;
    //   display: inline-block;
    //   background-size: 100%;
    //   margin: 0px 10px 0 0;
    //   position: relative;
    //   top: 0px;
    //   vertical-align: top;

    //   @include mobile {
    //     top: 0px;
    //     width: 24px;
    //     height: 24px;
    //     margin-right: 5px;
    //   }
    // }

    // .icon-circle {
    //   fill: $highlightColor;
    // }

    // .icon-logo {
    //   fill: #fff;
    // }

    // > ul {
    //   display: inline-block;
    //   margin-top: 0px;
    //   margin-left: 0;

    //   @include mobile {
    //     margin-top: 2px;
    //   }

    //   > li {
    //     display: inline-block;
    //     color: #fff;
    //     padding: 0;
    //     text-transform: inherit;
    //     width: 100%;
    //     transition: 0.15s all ease-in;
    //     margin: 3px 0 3px 19px;

    //     @include mobile {
    //       margin-left: 8px;
    //     }

    //     a,
    //     a:hover,
    //     a:focus,
    //     a:visited {
    //       color: #fff;
    //       position: relative;
    //       left: 23px;
    //       display: inline-block;
    //       font-family: $font-light;

    //       &:after {
    //         content: "";
    //         display: block;
    //         width: 0;
    //         height: 2px;
    //         background: $primaryBlue;
    //         transition: width 0.15s linear 0.05s;
    //       }

    //       &:hover {
    //         &:after {
    //           width: 100%;
    //         }
    //       }
    // }
    // }
    // }
    // }
  }
}
