.skills {
  color: $primaryColor;

  &:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../../assets/images/portfolio/minus.svg)
      url(../../assets/images/portfolio/plus.svg);
  }

  .logo-circle {
    stroke: #fff;
  }
  .logo-lines {
    stroke: #fff;
  }

  h2 {
    .logo {
      left: 0;
    }
  }
  ul {
    margin: 0 auto 0px;
    padding: 0;
    display: inline-block;
    width: 100%;

    li {
      display: inline-block;
      opacity: 1;
      visibility: visible;
      transition: 0.1s all ease-out 0s;
      width: 100%;
      margin: 0 auto 8px;
      color: $primaryBlue;
      font-weight: bold;
      padding: 0px;
      vertical-align: middle;
      position: relative;
      overflow: hidden;
      -webkit-tap-highlight-color: transparent;
      @include hacks();
      text-transform: uppercase;
      @include box-sizing(border-box);
      font-size: 2.4rem;

      @include mobile {
        width: 100%;
        transition: all 0s ease-out 0s;
        text-align: left;
      }

      // &:nth-child(3),
      // &:nth-child(4),
      // &:nth-child(5) {
      //   padding-left: 38px;

      //   @include mobile {
      //     padding-left: 29px;
      //   }
      // }

      .code-link {
        cursor: pointer;

        &.is-open {
          &:before {
            background: url(../../assets/images/portfolio/minus.svg);
          }
        }

        &:before {
          content: "";
          background: url(../../assets/images/portfolio/plus.svg);
          width: 32px;
          height: 32px;
          display: inline-block;
          background-size: 100%;
          margin: 0px 6px 0 0;
          position: relative;
          top: 0px;

          @include mobile {
            width: 24px;
            height: 24px;
          }
        }
      }

      .content {
        width: 100%;
        height: 0px;
        margin: 0 auto;
        padding: 0px 0 0 40px;
        @include box-sizing(border-box);
        cursor: default;
        transition: 0.15s all linear;
        left: 0;
        position: relative;
        top: 0px;

        @include mobile {
          margin-left: 0px;
          left: 0px;
          padding: 0 0 0 8px;
        }

        p {
          color: #fff;
          margin: 12px 12px 12px 0px;
          transition: 0.15s all linear 0s;
          padding-left: 0;
          opacity: 0;
          visibility: hidden;

          @include mobile {
            transition: 0.1s all linear 0.18s;
            margin: 12px 0;
          }
        }

        img {
          transform: translateX(-30px);
          transition: 0.2s all 0s ease-in;
          width: 100%;
          max-width: 600px;
          margin-bottom: 10px;
          display: block;
          position: relative;
          top: 0px;
          opacity: 0;
          visibility: hidden;
        }

        &.show {
          //height: 550px;
          top: 0;
          margin-bottom: 1rem;

          @include mobile {
            //height: 470px;
          }

          p {
            transition: 0.4s all linear 0s;
            opacity: 1;
            visibility: visible;
          }

          img {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  p {
    padding-left: 38px;
    margin: 0 0 12px;
    text-transform: uppercase;

    @include mobile {
      padding-left: 29px;
    }
  }
}
