.skills {
  color: $primaryColor;

  &:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../../assets/images/portfolio/minus.svg)
      url(../../assets/images/portfolio/plus.svg);
  }

  .logo-circle {
    stroke: #fff;
  }
  .logo-lines {
    stroke: #fff;
  }

  h2 {
    .logo {
      left: 0;
    }
  }
}

.skillset {
  display: flex;
  margin: 0;
  padding: 0 0 18rem;
  width: 100%;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;

  li {
    margin: 0 0.8rem 0.8rem 0;
    background: #fff;
    border-radius: 4px;
    color: #141414;
    font-weight: bold;
    padding: 1.6rem;
    box-sizing: border-box;
    font-size: 2.4rem;
  }
}

p {
  // padding-left: 38px;
  // margin: 0 0 12px;
  text-transform: uppercase;

  @include mobile {
    // padding-left: 29px;
  }
}

// .skillset {
//   display: flex;
// }

.testimonials {
  margin: 0;
  padding: 4.8rem 0;

  li {
    margin-bottom: 4.8rem;
  }

  h3 {
    color: $primaryBlue;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .testimonial {
    font-style: italic;
    color: #fff;
    font-size: 2rem;
  }

  span {
    display: block;
    color: $secondaryBlue;
  }
}
