.testimonials-section {
  background: url(../../assets/images/bg-pattern-light.png);

  h2 {
    color: $primaryColor;
  }
}

.testimonials {
  margin: 0;
  padding: 0 0;
  list-style-type: none;

  li {
    padding: 3.2rem 3.2rem 3.2rem 4.8rem;
    box-sizing: border-box;
    border: 2px solid #0080ff;
    border-radius: 4px;
    margin-bottom: 4.8rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    color: $primaryColor;
    font-size: 2.4rem;
    text-transform: uppercase;
  }

  .testimonial {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
    color: $primaryColor;
    line-height: 30px;
    
    &:before {
      content: '"';
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 28px;
      color: $primaryBlue;
      margin-left: -1.5rem;
      position: relative;
      left: -5px;
    }

    &:after {
      content: '"';
      font-family: 'Times New Roman', Times, serif;
      font-style: italic;
      font-size: 28px;
      color: $primaryBlue;
    }
  }

  .reporter {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    color: $primaryBlue;
    margin-top: 0.4rem;
    font-style: normal;
  }
}